<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Welcome to Game KKuTu</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--script src="../../assets/js/ie-emulation-modes-warning.js"></script-->

    <link href="/assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/kkutu/system">System</a><li>
          <li><a href="/kkutu/ranking">Ranking</a></li>
          <li><a href="/">RRGames Home</a></li>
        </ul>
        <h3 class="text-muted">'KKuTu'</h3>
      </div>

      <div class="jumbotron">
        <h1>KKuTu | 끄투
        </h1>
        <p class="lead">끄투 | 가장 진보한 우리의 끝말 잇기</p>
        <p><a class="btn btn-lg btn-success" target="_blank" href="https://rrgames.me/kkutu/" role="button">Game Start!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>가장 진일보한 끝말있기</h4>
          <p>끄-투는 누구나 알고 있는 끝말잇기 게임을 현대적으로 재해석하였습니다.</p>
          <p>난 솔직히 뿌샤보다 끄투가 더 재밌더라.</p>

          <h4>어휘력의 향상</h4>
          <p>영어 두/세 글자를 이어나감으로써 당신의 어휘력은 비약적으로 향상됩니다.</p>
          <p>onion, entertainment 같은거만 안쓰면 말이지.</p>

          <h4>합법적인 <strong>키</strong>보드 <strong>배</strong>틀</h4>
          <p>이제 네이버 댓글칸에서 놀지 말고 여기서 노세요!</p>
          <p>부모님 안부 말고 당신 어휘력 안부를 물어봐라!</p>
        </div>

        <div class="col-lg-6">
          <h4>영어뿐이 아니다!</h4>
          <p>좀 지겹다 싶으면 쿵쿵따, 일어 끝말잇기 등 다양한 게임을 즐길수 있습니다.</p>
          <p>하지만, 웬만하면 안지겨울껄요?</p>

          <h4>우월감과 어그로</h4>
          <p>랭킹 시스템으로 당신의 어휘력을 뽐내고 친구들에게 광역 어그로를 뿜어보세요.</p>
          <p>당신의 실력이 어디까지 인지 확인하세요!</p>

          <h4>무설치</h4>
          <p>장점이라기 애매하긴 한데 어쨋든 무설치, 간편한 웹게임이에요!</p>
        </div>
      </div>

      <%= render "footer" %>

    </div> <!-- /container -->



  </body>
</html>
