<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/asset/favicon.ico">

    <title>Welcome to Game KKuTu</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/jumbotron-narrow.css" rel="stylesheet">

    <link href="/assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--script src="../../assets/js/ie-emulation-modes-warning.js"></script-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/kkutu">Home</a></li>
          <li><a href="/kkutu/system">System</a><li>
          <li class="active"><a href="/kkutu/ranking">Ranking</a></li>
          <li><a href="/">RRGames Home</a></li>
        </ul>
        <h3 class="text-muted">KKuTu</h3>
      </div>


      <div class="row">
        <div class="col-md-6">
          <h3> 경험치 상위 5인</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>name</th>
                <th>score</th>
              </tr>
            </thead>
            <tbody>
              <% @score_top5.each_with_index do |one, index| %>
              <tr>
                <td><%= image_tag(@arrT5[index], :size => "20x20") %></td>
                <td><%= one.name %></td>
                <td><%= one.score %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

      </div>
      <div class="col-md-6">
        <h3> 끄투 레이팅 상위 5인</h3>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <% @ratingKT_top5.each_with_index do |one, index| %>
            <tr>
              <td><%= if one.score > 0
                image_tag(@arrKT[index], :size => "20x20")
                end %></td>
              <td><%= one.name %></td>

              <td><%= one.rating_KT %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

    </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3> 영어 끝말잇기 레이팅 상위 5인</h3>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>name</th>
              <th>rating</th>

            </tr>
          </thead>
          <tbody>
            <% @ratingES_top5.each_with_index do |one, index| %>
            <tr>
<td><%= if one.score > 0
  image_tag(@arrES[index], :size => "20x20")
  end %></td>
              <td><%= one.name %></td>
              <td><%= one.rating_ES %></td>

            </tr>
            <% end %>
          </tbody>
        </table>

    </div>
    <div class="col-md-6">
      <h3> 한글 끝말잇기 레이팅 상위 5인</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>name</th>

            <th>rating</th>
          </tr>
        </thead>
        <tbody>
          <% @ratingKS_top5.each_with_index do |one, index| %>
          <tr>
<td><%= if one.score > 0
  image_tag(@arrKS[index], :size => "20x20")
  end %></td>
            <td><%= one.name %></td>

            <td><%= one.rating_KT %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

  </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3> 한글 쿵쿵따 레이팅 상위 5인</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>name</th>

            <th>rating</th>

          </tr>
        </thead>
        <tbody>
          <% @ratingKK_top5.each_with_index do |one, index| %>
          <tr>
            <td><%= if one.score > 0
              image_tag(@arrKK[index], :size => "20x20")
              end %></td>
            <td><%= one.name %></td>

            <td><%= one.rating_KK %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

  </div>
  <div class="col-md-6">
    <h3> 일본어 시리토리 레이팅 상위 5인</h3>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>name</th>

          <th>rating</th>

        </tr>
      </thead>
      <tbody>
        <% @ratingJS_top5.each_with_index do |one, index| %>
        <tr>
          <td><%= if one.score > 0
            image_tag(@arrJS[index], :size => "20x20")
            end %></td>
          <td><%= one.name %></td>

          <td><%= one.rating_JS %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

</div>
</div>

      <%= render "footer" %>

    </div> <!-- /container -->



  </body>
</html>
