<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/asset/favicon.ico">

  <title>Welcome to Game KKuTu</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/css/jumbotron-narrow.css" rel="stylesheet">

  <link href="/assets/css/custom.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!--script src="../../assets/js/ie-emulation-modes-warning.js"></script-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="/kkutu">Home</a></li>
        <li class="active"><a href="/kkutu/system">System</a><li>
          <li><a href="/kkutu/ranking">Ranking</a></li>
          <li><a href="/">RRGames Home</a></li>
        </ul>
        <h3 class="text-muted">KKuTu</h3>
      </div>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-md-10">
          <div class="row">
            <div class ="row">
              <div class="col-md-3">
                <a href="#" id ="game_rule"><h3 class="text-right">게임의 규칙</h3></a>
              </div>
              <div class="col-md-9">
                <p><strong>'끄투'는 다음과 같은 게임 규칙을 지원합니다.</strong></p>
                <ul>
                  <li><strong>영어 끄투</strong> - 영어의 낱말 끝 두글자, 세글자를 이어서 말을 이어나가는 게임입니다.
                    <br>네글자 이상의 단어만 쓸 수 있어요. 이 게임 코드네임의 어원이기도 합니다!</li>
                    <li><strong>영어 끝말잇기</strong> - 영어의 낱말 끝 한글자만 이어붙일 수 있습니다. 훨씬쉽죠.
                    </li>
                    <li><strong>한글 끝말잇기</strong> - 한글의 낱말 끝 한글자를 이어나가는 게임입니다.
                      <br>한방단어를 조심하세요.</li>
                    <li><strong>한글 쿵쿵따</strong> - 한글의 낱말 끝 한글자를 세글자 단어로 이어나가는 게임입니다.
                      <br>이것도 한방단어를 조심하세요! </li>
                    <li><strong>일본어 시리토리</strong> - 일본어의 끝말을 이어나가는 게임입니다.
                      <br>이 게임은 순전히 개발자의 호기심으로 개발되었습니다! </li>
                </ul>
              </div>
            </div>

            <hr>

          <div class ="row">
            <div class="col-md-3">
              <a href="#" id ="game_room"><h3 class="text-right">방 안에서</h3></a>
            </div>
            <div class="col-md-9">

              <img src="/assets/image/system/shot2_2.png" class="img-thumbnail" width="80%">
              <p>사용자가 생성한 게임에 입장하면 위와 같은 화면을 볼수 있습니다.</p>
              <ol>
                <li><strong>준비와 준비취소</strong>- 게임을 시작할 준비 여부를 방 전체 알립니다.</li>
                <li><strong>나가기</strong>- 방에서 나갑니다. 다 아실테죠.</li>
                <li><strong>방 인원</strong>- 자신을 포함해 방에 몇명있는지를 보여줍니다</li>
                <li><strong>유저 패널</strong>- 유저와 유저 상태를 표시해줍니다. </li>
              </ol>
              <img src="/assets/image/system/shot2_1.png" class="img-thumbnail" width="80%">
              <p><strong>물론, 당신이 방장이라면</strong>, ① 버튼을 눌러서 지금의 방을 설정할 수 있습니다.</p>

              <img src="/assets/image/system/shot6.png" class="img-thumbnail" width="40%">
              <p>이렇게 말이죠.</p>
            </div>
          </div>

          <hr>

          <br>
          <div class ="row">
            <div class="col-md-3">
              <a href="#" id ="game_start"><h3 class="text-right">게임의 시작</h3></a>
            </div>
            <div class="col-md-9">
              <img src="/assets/image/system/shot3.png" class="img-thumbnail" width="80%">
              <p><strong></strong></p>
              <ol>
                <li><strong>제시어</strong>- 사용자가 풀어야 할 글자를 보여줍니다.</li>
                <li><strong>라운드 제한시간</strong>- 지금 진행하는 라운드의 제한시간을 보여줍니다.</li>
                <li><strong>턴 제한시간</strong>- 지금 턴의 제한시간을 보여줍니다.</li>
                <li><strong>히스토리 보드</strong>- 지금까지 사용자들이 입력한 단어와 뜻을 보여줍니다. </li>
                <li><strong>입력 보드</strong>- 자신의 턴일때 입력하고 있는 답을 크게 표시합니다.</li>
                <li><strong>유저 패널</strong>- 현재 참여하는 사용자들을 보여줍니다. </li>
                <li><strong>점수판 </strong>- 현재 사용자의 획득 점수를 보여줍니다</li>
                <li><strong>라운드 보드</strong>- 현재 진행중인 라운드 상태를 보여줍니다 </li>
              </ol>
            </div>
          </div>

          <hr>

          <div class ="row">
            <div class="col-md-3">
              <a href="#" id ="game_end"><h3 class="text-right">게임의 끝</h3></a>
            </div>
            <div class="col-md-9">
              <img src="/assets/image/system/shot4.png" class="img-thumbnail" width="80%">
              <p>게임이 끝나면 게임 결과와 점수, 획득한 경험치와 사이버 머니를 보여줍니다.</p>
            </div>
          </div>
          <hr>

          <div class ="row">
            <div class="col-md-3">
              <a href="#" id ="game_level"><h3 class="text-right">레벨 시스템</h3></a>
            </div>
            <div class="col-md-9">
              <p><strong>경험치를 통한 레벨 시스템으로 어그로를 끌어보세요.</strong></p>
              <p>당신이 들고 있는 이 연필이 당신의 지식을 말해줄거에요.</p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Level</th>
                    <th>Icon</th>
                    <th> 필요 경험치 </th>
                  </tr>
                </thead>
                <tbody>
                  <% 1.upto(20) do |i| %>
                  <tr>
                    <td><%= i %></td>
                    <td><%= image_tag(@arrLev[i], :size => "20x20") %></td>
                    <td><%= @rate[i].round %></td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <hr>

          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-md-2 sidebar-offcanvas" style="position: fixed; right: 50px;" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li><a href="#game_rule">게임의 규칙</a></li>
              <li><a href="#game_room">방 안에서</a></li>
              <li><a href="#game_start">게임의 시작</a></li>
              <li><a href="#game_end">게임의 끝</a></li>
              <li><a href="#game_level">레벨 시스템</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

    <%= render "footer" %>

  </div> <!-- /container -->



</body>
</html>
