<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/favicon.png">

  <title>알알께임-즈!</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/css/jumbotron.css" rel="stylesheet">
  <link href="/assets/css/custom.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bsar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">알알께임-즈</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/contact">Contact</a><li>
        </ul>

      </div><!--/.navbar-collapse -->
    </div>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <!--div class="jumbotron">
  <div class="container">
  <h1>Hello, world!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
</div!-->

<div class="container">
  <!-- Example row of columns -->
  <div class="page-header">
    <h1> 알알께임-즈 <small>rrgames by SW_Maestro 5th</small></h2>
    </div>
    <p class="lead">소프트웨어 마에스트로 5기를 통해 결성된 팀 - 알알게임즈 입니다.</p>
    <p> 하루하루 발전하고 있는 알알-게임즈 입니다.</p>
    <p> 저희는 좋은 프로젝트 성과를 내기 위해 최선을 다하고 있는 젊은 팀입니다.</p>

    <div class="introduce">
      <h1>팀원 소개</h1>
      <br>
      <div class="row">
        <div class="col-md-3 text-center">

          <img src="/assets/image/profile_jjoriping.jpg" class="img-circle" width=100>
          <h3>정주영 <small>a.k.a. 쪼리핑</small></h3>
          <ul>
            <li>대구 화원 고등학교</li>
            <li>dosel1005@naver.com</li>

          </ul>
        </div>

        <div class="col-md-3 text-center">
          <img src="/assets/image/profile_unidev.jpg" class="img-circle"width=100>
          <h3>배현승</h3>
          <ul>
            <li>상주고등학교</li>
            <li>bae-unidev@nate.com</li>
          </ul>
        </div>

        <div class="col-md-3 text-center">

          <img src="/assets/image/profile_propus.jpg" class="img-circle"width=100>
          <h3>변성환</h3>
          <ul>
            <li>한국애니메이션고등학교</li>
            <li>propus610@naver.com</li>
          </ul>
        </div>

        <div class="col-md-3 text-center">

          <img src="/assets/image/profile_arena.jpg" class="img-circle"width=100>
          <h3>이민혁</h3>
          <ul>
            <li>인하대학교 정보통신공학부</li>
            <li>into_arena@naver.com</li>
          </ul>
        </div>

      </div>
      <br>

      <h1> 이팀의 멘토 </h1>
        <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <img src="/assets/image/profile_wootaek.jpg" class="img-circle"width=100>
          <h3>오우택</h3>

          <ul class="text-left">
            <li>레드덕</li>
            <li>wootaek@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>

    <%= render "footer"%>

  </div> <!-- /container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery-1.10.2.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
