<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.png">

    <title>알알께임-즈!</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/jumbotron.css" rel="stylesheet">

    <link href="/assets/css/custom.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">알알께임-즈</a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
<li class="active"><a href="/">Home</a></li>
<li><a href="/contact">Contact</a><li>

          </ul>

        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div!-->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-4 col-md-4">
        <a href="https://rrgames.me:3000/client/">
          <img src="/assets/image/poosha_title.jpg" alt="poosha" class="img-thumbnail" height= "400" width="300">
        </a>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/kkutu">
          <img src="/assets/image/kkutu_title.jpg" alt="kkutu" class="img-thumbnail" height= "400" width="300">
        </a>
      </div>
        <div class="col-sm-4 col-md-4">
        <a href="https://rankaas.io">
          <img src="/assets/image/rankaas_title.jpg" alt="rankaas" class="img-thumbnail" height= "400" width="300">
        </a>
      </div>
      </div>
    </br>

      <div class ="well well-lg">
        <h3>알알 께임-즈</h3>
        <p>알알 께임-즈는 소프트웨어 마에스트로 5기 연수를 통해 탄생한 팀입니다. <br>
          하루하루 발전할 수 있도록 노력하겠습니다.</p>
      </div>
      <%= render "footer" %>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
