/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.our_contents{ display:table; margin-left: auto; margin-right: auto;}
